spring:
  config:
    activate:
      on-profile: dev
    import: "optional:aws-parameterstore:/ktb-community-backend-ps/"
  cloud:
    aws:
      region:
        static: ap-northeast-2

  datasource:
    url: jdbc:mysql://${database.url}/community?serverTimezone=UTC&allowPublicKeyRetrieval=true&useSSL=false
    username: ${database.username}
    password: ${database.password}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true

  session:
    store-type: jdbc
    jdbc:
      initialize-schema: never
    timeout: 1800

logging:
  level:
    root: INFO
    gguip1.community: DEBUG
    org.springframework.web: INFO
    org.springframework.security: INFO

#    org.hibernate.SQL: DEBUG
#    org.hibernate.type.descriptor.sql: TRACE
#    org.springframework.jdbc.core: DEBUG
#    org.springframework.session: DEBUG
#    com.zaxxer.hikari: INFO

cors:
  allow-credentials: ${cors.allow-credentials}
  allowed-origins: ${cors.allow-origins}
  allowed-methods: ${cors.allow-methods}
  allowed-headers: ${cors.allowed-headers}
  max-age: 3600

auth:
  excluded-paths: ${auth.excluded-paths}

