name: BE CI - DEV

on:
  push:
    branches:
      - dev
    paths-ignore:
      - "docs/**"
      - "**.md"

jobs:
  test:
    runs-on: ubuntu-24.04-arm
    strategy:
      matrix:
        java-version: [ 21 ]

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up JDK ${{ matrix.java-version }}
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java-version }}
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      - name: Test With Gradle
        run: ./gradlew test

  build-and-push:
    needs: test
    runs-on: ubuntu-24.04-arm

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-northeast-2

      - name: Upload Docker Compose file to S3
        run: |
          aws s3 cp ./docker/dev/docker-compose.yml s3://${{ secrets.AWS_S3_BUCKET_NAME }}/dev/be/docker-compose.yml

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1
        with:
          registry-type: public
          mask-password: true
        env:
          AWS_DEFAULT_REGION: us-east-1
          AWS_REGION: us-east-1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build and Push Docker Image to ECR
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./docker/dev/dockerfile
          push: true
          tags: |
            ${{ steps.login-ecr.outputs.registry }}/a3y4e2t5/ktb-community/dev/be-registry:${{ github.sha }}
            ${{ steps.login-ecr.outputs.registry }}/a3y4e2t5/ktb-community/dev/be-registry:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
